#logoRugby {
    width: 50px;
  }
  #burgerMenu {
    font-size: 2.5em !important;
  }
  #navBar {
    background-color: white;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
    z-index: 100 !important;
    height: 75px !important;
    position: sticky;
    top: 0;
  }
  .size {
    width: 100px;
    color: #2534DE;
  }
  header button {
    width: 50px !important;
    height: 50px;
  }
  header button {
    color: #0F0F7E !important;
    background-color: white;
    transition: background-color 0.5s ease, color 0.5s ease !important;
}
.blue {
  color: #0F0F7E;
}

header button:hover {
    color: white !important;
    background-color: #0F0F7E;
}