.correctIcones {
    color: rgba(0, 169, 158, 1);
}

.falseIcones {
    color: rgb(231, 4, 4);
}

@keyframes zoomIn {
    0% {
        transform: scale(1);
        /* État initial */
    }

    50% {
        transform: scale(1.4);
        /* Grossissement */
    }

    100% {
        transform: scale(1);
        /* Retour à l'état initial */
    }
}

.iconeAnimation {
    animation: zoomIn 0.5s ease-in-out;
    /* Durée et type d'animation */
}
.blur {
    filter: blur(1rem);
}